{% extends "pages/base.html" %}
{% block content %}

    <div class="media-body profile-div" style="margin-left: 20%">
    <h1 class="account-heading" >Inbox</h1>
        <div>
            <p class="text-secondary">
                Du har
                {% if unread_messages %}
                    unread_messages
                {% else %}
                    ingen
                {% endif %}
                 nye meldinger
           </p>
        </div>
    </div>
        <div id="accordion mt-5" style="position: relative;    width:50%;
    top: 200px;
    right: 20%;
    ">
            {% for contact in contacts %}

                <div class="card">

                    <button class="card-header btn btn-link d-flex justify-content-between nounderline" id="heading{{ contact.id }}" data-toggle="collapse" data-target="#collapse{{ contact.id }}" aria-expanded="true" aria-controls="collapseOne">
                        {% if contact.advertisement %}
                            <a class="d-flex flex-row nounderline" href="{% url 'ad-detail' contact.advertisement.id %}">
                                <h5 class="mb-0 ">{{ contact.advertisement.title }}</h5>
                            </a>
                        {% endif %}
                        <a class="d-flex flex-row-reverse nounderline" href="{% url 'profile-detail' contact.sender.id %}">
                            <h5 class="mb-0 ">{{ contact.sender.username }}</h5>
                        </a>
                    </button>

                    <div id="collapse{{ contact.id }}" class="collapse show text-center pagination-centered" aria-labelledby="heading{{ contact.id }}" data-parent="#accordion">
                      <div class="card-body">
                          {{ contact.message }}
                      </div>
                    </div>

                </div>
            {% endfor %}
        </div>
{% endblock content %}