{% extends "pages/base.html" %}
{% block content %}
<div class="content-section">
      <div class="media" >
        <img class="rounded-circle account-img" src={{user.profile.image.url}} width="200" height="200">
        <div class="media-body" style="margin-left: 50px; margin-top: 30px">
            <h2 class="account-heading">{{other_user.username}}</h2>
            <p class="text-secondary">{{other_user.birth_date}}</p>
            <p class="text-secondary">{{other_user.profile.latitude}}N, {{other_user.profile.longitude}}E</p>
            <p class="text-secondary">{{other_user.email}}</p>
        </div>
      </div>
    <div class="form-group" style="margin-top:30px">


            <a class="btn btn-outline-info nounderline" href="{% url 'user-ads' other_user.username %}">
                {% if own_user.id == other_user.id %}
                Mine annonser 
                {% else %}
                {{other_user.username}}s annonser 
                {% endif %}
            </a>

        <a class="btn btn-outline-info nounderline">
                {% if own_user.id == other_user.id %}
                Se feedbacks
                {% else %}
                Kommenter
                {% endif %}
            </a>

            {% if own_user.id == other_user.id %}
            <a class="btn btn-outline-info nounderline" href="{% url 'profile-update' %}">
                Oppdater profil
            </a>



            <a class="btn btn-outline-danger nounderline" href="{% url 'profile-confirm-delete' %}">
                Slett profil
            </a>



        <!-----Knappen til kommentar----->

        <div>
            <br>
            <h4>
            Feedback...
            </h4>
            </br>
        </div>


            

    {% else %}
    {% endif %}
    </div>
</div>

{% endblock content %}