{% extends "pages/base.html" %}
{% block content %}
<div class="content-section">
      <div class="media" >
        <img class="rounded-circle account-img" src={{user.profile.image.url}} width="200" height="200">
        <div class="media-body" style="margin-left: 50px; margin-top: 30px">
            <h2 class="account-heading">{{object.user.username}}</h2>
            <p class="text-secondary">{{object.birth_date}}</p>
            <p class="text-secondary">{{object.latitude}}N, {{object.longitude}}E</p>
            <p class="text-secondary">{{object.user.email}}</p>
        </div>
      </div>
    <div class="form-group" style="margin-top:30px">
        <button class="btn btn-outline-info">
            <a class="nounderline" href="{% url 'user-ads' object.user.username %}">{{object.user.username}}s annonser</a>
                </button>
        </div>
    </div>

{% endblock content %}