{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="max-width:600px;">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Registrer bruker</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info btn-block btn-blue" type="submit">Registrer deg</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Er du allerede registrert? <a class="ml-2 link-blue" href="{% url 'login' %}">Logg inn her</a>
            </small>
        </div>
    </div>
{% endblock content %}