{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container">
    <div class = "become-advertiser ads-div " >
        <h1 class="ads-h1">Bli annonsør</h1>
        <p>Som annonsør kan du legge ut tre reklameannonser per måned.
            Pris er 2500kr. Send ordre og du vil motta faktura per epost.
            Du blir annonsør straks betalingen er fullført.
        </p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-action d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-info" style="margin-top:20px;">Gjennomfør bestilling</button>
        </div>
</form>

    </div>
</div>
{% endblock content %}