{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container">
    <div class = "become-advertiser ads-div " >
        <h1 class="ads-h1">Fornye abonementet</h1>
        <p> Du har brukt opp reklameannonselimit.
            Du kan fornye abonementet slik at du kan publisere tre nye reklameannonser.
            Pris er 2000kr. Send ordre og du vil motta faktura per epost.
            Abonementet blir fornyet straks betalingen er fullført.
        </p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-action d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-info" style="margin-top:20px;">Gjennomfør bestilling</button>
        </div>
    </form>

    </div>
</div>
{% endblock content %}