{% extends "pages/base.html" %}
{% block content %}
<div class="d-flex flex-wrap align-content-stretch" style="padding-top: 5%; margin: auto; width: 90%; ">
    {% for advertisement in advertisements %}
        <article class="media content-section">
            <img class="figure-img img-fluid rounded" src="{{ advertisement.image_main.url }}" style="width: 250px">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ advertisement.author }}</a>
                <!--Se Django doc for å endre format på dato-->
              <small class="text-muted">{{ advertisement.published|date:"j. b, Y G:i" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'ad-detail'%}">{{ advertisement.title }}</a></h2>
            <p class="article-content">{{ advertisement.description }}</p>
          </div>
        </article>
    {% endfor %}
    </div>
{% endblock content %}
