{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container">
    <div class = "advertisement-detail">

        {% if username %}
        <a href="{% url 'user-ads' username %}">
            <button type="button" class="btn btn-outline-secondary">Tilbake til {{ username }}s annonser</button>
        </a>
        {% endif %}

        <div class="float-right" style="padding-left:20px; padding-bottom:90%; padding-top:10%;">
            <img class ="rounded img-fluid" src="{{ object.image_main.url }}"
                 style="width:500px;
                          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        </div>


        <h1 class ="font-weight-light" style="margin-top:40px">{{ object.title }}</h1>

        <h2 class="font-weight-heavy" style="margin-top:10px">{{ object.price }} NOK </h2>

        <p>
            {{ object.description }}
        </p>

        <h3> {{ object.latitude }}N, {{ object.longitude }}E </h3>


        <h4 style="padding: 30px 0px">
            <a class="nounderline" href="{% url 'profile-detail' object.author.id %}">{{ object.author }} </a>
            <small>Ta kontakt: {{object.author.email}}</small>
        </h4>


        {% if not object.author == user %}

            <a href="{% url 'save-or-delete-ad' object.id %}" class="btn btn-primary">
                {% if not user_saved_ad %}
                    Lagre Annonse
                {% else %}
                    Fjern fra lagrede annonser
                {% endif %}
            </a>
        {% endif %}

        {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btm-sm mt-1 mb-1" href="{% url 'ad-update' object.id %}">Rediger annonse</a>
                <a class="btn btn-danger btm-sm mt-1 mb-1" href="{% url 'ad-delete' object.id %}">Slett annonse</a>
            </div>
        {% else %}
            <div>
                <!--a class="btn btn-outline-secondary" href="#" >Ta kontakt!</a-->
            </div>
        {% endif %}

         <small class="text-muted">Publisert {{ object.published|date:"j. b, Y G:i" }}</small>
    </div>
</div>

{% endblock content %}
