body {
    margin: 0px;
    background-color: #f5f5f5;

}

a.notif {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: url('http://i.imgur.com/evpC48G.png');
  background-size: contain;
  text-decoration: none;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

.btn-blue {
    border: 2px solid #34B6FF;
    color: #34B6FF;
}

.btn-blue:hover {
    border: 2px solid #34B6FF;
    background-color: #34B6FF;
}

.link-blue {
    color: #34B6FF;
}

.nounderline {
  text-decoration: none !important
}

.ad-list {
    padding-top: 5%;
    margin: auto;
}

.ad-polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ad img {
    width: 100%;
}
/* Nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: "Raleway";
}

.right-side{
    display: flex;
}

.logo {
    padding-left: 25px;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
}


.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
}

.nav-link-wrapper1 a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
    font-weight: bold;
}
.nav-link-wrapper2 a {
    color: black;
    text-decoration: none;
    border-style: solid;
    padding: 8px;
    border-width: 1px;
    border-radius: 10px;
}

/* Category styles */
.content-wrapper {
    margin: auto;
    width: 50%
}

.category-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;

}

.category-item-wrapper{
    padding-top: 70px;
}

.category-items-wrapper img {
    border-radius: 30px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(206, 206, 206));
    filter: drop-shadow(5px 5px 5px rgb(206, 206, 206));
}



.ad-title {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.ads-form {
    text-align: center;
}

.ads-form label {
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: 0px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


.inl {
    display: inline-flex;
}

.form-div {
    background: rgb(52, 182, 255, 0.2);
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.form-col {
    padding: 2%;
    text-align: center;

}

.form-col p {
    color: #0069D9;
    font-size: 16px;
    font-weight: medium;
    margin-bottom: 25px;
}

/* style for advertisements-page */

.ads-div {
    margin-left: 15%;
    margin-right: 15%;
}

.ads-container {
    padding-top: 5%;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}

.ads-container-2 {
    margin:50px;
}

.ad-container {
    position: relative;
    width: 256px;
    height: 256px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
}

.ad-container-down {
    padding: 10px 15px;
}

.ads-h1 {
    padding-bottom: 30px;
    font-size: 40;
    text-align:center;
    color: #003366;
}

.svg-div {
    position: absolute;
    top: 10;
    right: 10
}

.h5-ad {
    font-weight: normal;
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h2-ad-price {
    font-size:20px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ad-image {
    width:100%;
    height:210px;
}

/* style for ad-detail page */
.ad-detail-img-container {
    padding-left:20px;
    padding-bottom:90%;
    padding-top:10%;
}

.ad-detail-img {
    width:500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ad-detail-h1 {
    margin-top:40px;
}

.ad-detail-h2 {
    margin-top:10px;
}

.ad-detail-h4 {
    padding: 30px 0px;
}

.publish-ad-btn {
    margin-top:10px;
}

/* style for login-page */
.login-container {
    max-width:600px;
}

/* style for logout-page */
.logout-container {
     max-width:600px;
}

/* style for profile-page */
.profile-div {
    margin-left: 50px;
     margin-top: 30px;
}

.profile-form-div {
    margin-top:30px;
}

.register-container {
    max-width:600px;
}