{% load static %}

<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% if title %}
        <title>Sellpoint - {{ title }}</title>
    {% else %}
        <title>Sellpoint</title>
    {% endif %}

</head>
<body>

    <header class="site-header sticky-top">
        <nav class="navbar navbar-expand-md bg-light">
            <!--Left side-->
            <div class="mr-auto">
                <a class="navbar-brand" href="{% url 'pages-home' %}">
                    <div class = "logo">
                        <img src="{{ MEDIA_URL }}/media/site_images/SP-log.png" style="width:200px;" alt="Sellpoint">
                     </div>
                </a>
            </div>
            <!--Right side-->
            <div class="ml-auto">
                <button class="navbar-toggler text-right" data-toggle="collapse" data-target="#collapse_target">
                    <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:black"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapse_target">
                <div class="mr-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <!--Må fjerne hover effekt i stylesheet, og legge til stylen i stylesheet.-->
                            <button class="bg-light nav-button" style="border: none;">
                                <a class="nav-link" href="{% url 'ads' %}" style="color: black;">
                                    Annonser
                                </a>
                            </button>
                        </li>
                        <!--<li class="nav-item">
                            <button class="bg-light nav-button" style="border: none;">
                                <a class="nav-link" href="#" style="color: black;"
                                >Om oss</a>
                            </button>
                        </li>-->
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="bg-light nav-button" style="border: none;">
                            <a class="nav-link" href="{% url 'ad-create' %}" style="color: black;"
                            >Opprett annonse</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="bg-light nav-button" style="border: none;">
                            <a class="nav-link" href="{% url 'profile' %}" style="color: black;"
                            >Profil</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="bg-light nav-button" style="font-weight: bold;
                                    border: solid black 2px;
                                    border-radius: 10px;">
                            <a class="nav-link" href="/logout" style="color: black;"
                            >Logg ut</a>
                        </button>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                         <button class="bg-light nav-button" style="font-weight: bold;
                                    border: solid black 2px;
                                    border-radius: 10px;">
                            <a class="nav-link" href="/login" style="color: black;"
                            >Logg inn</a>
                         </button>
                    </li>
                    <li class="nav-item">
                        <button class="bg-light nav-button" style="border: none;">
                            <a class="nav-link" href="/register/" style="color: black;"
                            >Opprett bruker</a>
                        </button>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Main Container --> <!-- Dette er nyttig for å vise meldinger som f.eks 'ny bruker opprettet' -->
    <main role="main" class="container">
      <div class="row" style="padding-top: 5%; margin: auto; width: 100%; ">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
