{% extends "pages/base.html" %}
{% block content %}

<body>

<div class="d-flex flex-wrap align-content-stretch" style="padding-top: 5%; margin: auto; width: 90%; ">
    <a href="ads">
        <div style="
        margin: 20px 50px">
            <div class = "rounded">
            <img class="rounded" src="{{ MEDIA_URL }}/media/site_images/kjoretoy.png" width="180" height="180">
                </div>
        </div>
    </a>
    <a href="ads">
        <div style="
        margin: 20px 50px">
            <div class = "rounded">
            <img class="rounded" src="{{ MEDIA_URL }}/media/site_images/el.png" width="180" height="180">
            </div>
        </div>
    </a>
    <a href="ads">
        <div style="
        margin: 20px 50px">
            <div class = "rounded">
            <img class="rounded" src="{{ MEDIA_URL }}/media/site_images/mobler.png" width="180" height="180">
                </div>
        </div>
    </a>
</div>
</body>
{% endblock content %}
