<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button" class="button">Tilbake til alle annonser</button>

    <div class="Title of item">
        
        <button type="button">Tilbake til alle annonser</button>

        <div class="Title of item">
            <h1>Eksempeltittel</h1>
        </div>
    
        <div class="Bilde">
            <img src="no-image-featured-image.png" alt="Eksempelbilde">
        </div>



    </div>

    <button type="button" class="button">Ta kontakt!</button>

</body>
</html>